<h2>Para pre producción: </h2>
<ul>
  <li>Primero para crear la carpeta dist se hace "ng build" (sin levantar nada con "ng serve")</li>
  <li>Para probar de forma local (no producción, sino test) se instala algo como http-server con "npm install http-server -g"</li>
  <li>Luego dentro de la carpeta dist (se puede sacar a otro lado) y dentro del título del mismo proyecto (despliegue) abrir una consola de comandos ahí</li>
  <li>Ejecutar "http-server -o"</li>
  <li>Al lugar que manda generalmente hay que ponerle luego del url "/index"</li>
</ul>
